.form__header {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.form__headline {
  text-align: left;
  padding: 0px;
}


.form__image {
  width: 80px;
  height: 80px;
}

.form__image--pink {
  fill: var(--c-lpink);
}

.form__item {
  padding-bottom: 1.5rem;
}

.form__question {
  margin-bottom: 0.8rem;
}


.form__input {
  margin-left: 15px;
}

input {
  width: 1.2rem;
  height: 1.2rem;
}

label {
  vertical-align: top;
  margin-left: 0.3rem;
}

.button-form {
  margin-left: 0;
}
