.project__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project__intro {
  text-align: center;

  line-height: 120%;
  padding-top: 1rem;
}

.project__intro--first {
  padding-top: 2rem;
}



.project__button {
  background-color: var(--c-pink);
  color: var(--c-grey);
  text-decoration: none;
  border-radius: 50px;
  font-size: 20px;
  display: inline-block;
}

.project__button--vyhledat {
  padding: 15px 40px;
}

.project__button--materialy {
  padding: 15px 65px;
}

.project__button:hover {
  background-color: var(--c-lgrey);
  color: var(--c-pink);
  font-weight: 700;
}

@media (min-width: 600px) {
  .project__intro {
    font-size: 20px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
  }

  .project__intro--first {
    padding-top: 4rem;
  }

  .buttons {
    flex-direction: row;
    justify-content: space-between;
  }
}
