.project__intro {
  text-align: center;
  line-height: 120%;
  padding-top: 1rem;
}

.project__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  align-self: center;
  margin: 1.5rem;
}

.project__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project__button {
  background-color: var(--c-pink);
  color: var(--c-grey);
  text-decoration: none;
  border-radius: 50px;
  font-size: 20px;
  display: inline-block;
}

.project__button--vyhledat {
  padding: 15px 40px;
}

.project__button--materialy {
  padding: 15px 65px;
}

.project__button:hover {
  background-color: var(--c-lgrey);
  color: var(--c-pink);
  font-weight: 700;
}
