* {
    box-sizing: border-box;
}


#page-wrap {
    padding-bottom: 10px;
    padding-top: 10px;
}

.burgerMenu-container {
    display: none;
}

@media (max-width: 600px) {
    .burgerMenu-container {
        display: block;
    }
}

.navbar-container {
    display: block;
}

@media (max-width: 600px) {
    .navbar-container {
        display: none;
    }

    h1 {
        font-size: 32px;
    }
}

@media (min-width: 600px) {
    .header {
        display: flex;
        justify-content: space-between;
    }
}
