.container__result {
  position: relative;
}

.result__header {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  max-width: 80%;
}

.result__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 5px;
}


.result__headline {
  text-align: left;
  padding: 0px;
}

.result__icon--clothes {
  width: 80px;
  height: 80px;
  fill: var(--c-lpink);
}

.result__icon--maintanance {
  margin: 10px;
  width: 50px;
  height: 50px;
}

ul {
  margin-left: 1.5rem;
}

.result__text {
  margin-bottom: 2rem;
}

.result__question {
  margin-bottom: 1rem;
}

.result__bottom {
  margin-bottom: 25px;
}

@media (min-width: 600px) {
  .result__image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 20px;
  }


}
