.clothesMenu {
  margin-bottom: 2rem;
}

.clothesMenu__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
}

.clothesMenu__image {
  width: 100px;
  height: 100px;
}

.clothesMenu__image--white {
  fill: var(--c-white);
}

.clothesMenu__image--pink {
  fill: var(--c-lpink);
}


.clothesMenu__item--pink:hover {
  fill: var(--c-white);
  color: var(--c-white)
}

.clothesMenu__item--white:hover {
  fill: var(--c-lpink);
  color: var(--c-lpink)
}

.clothesMenu__text {
  font-size: 18px;
  font-weight: 700;
}

.clothesMenu__text--white {
  color: var(--c-white);
}

.clothesMenu__text--pink {
  color: var(--c-lpink);
}


.clothesMenu__text--white:hover {
  color: var(--c-lpink);
}

.clothesMenu__text--pink:hover {
  color: var(--c-white);
}

@media (min-width: 600px) {
  .clothesMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
