.clothesMenu__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
}

.clothesMenu__image {
  width: 80px;
  height: 80px;
}

.clothesMenu__image--white {
  fill: var(--c-white);
}

.clothesMenu__image--pink {
  fill: #b72f48;
}

.clothesMenu__image--white:hover {
  fill: #b72f48;
}

.clothesMenu__image--pink:hover {
  fill: var(--c-white);
}


.clothesMenu__text {
  font-size: 18px;
  font-weight: 700;
}

.clothesMenu__text--white {
  color: var(--c-white);
}

.clothesMenu__text--pink {
  color: #b72f48;
}


.clothesMenu__text--white:hover {
  color: #b72f48;
}

.clothesMenu__text--pink:hover {
  color: var(--c-white);
}

@media (min-width: 600px) {

  .clothesMenu {
    display: flex;
    justify-content: space-around;
  }




}
