@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
body,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}


html {
  font-family: 'Montserrat', sans-serif;
  background-color: #333230;
  color: #fff;
}

h1 {
  color: #E55670;
  font-size: 40px;
}

/* mob.verze:  */


#app {

  padding-right: 25px;
  padding-left: 25px;
  padding-top: 30px;
}


/* desktop verze */
@media (min-width: 600px) {
  #app {
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 50px;
  }
}
