@media (min-width: 600px) {
  nav {
    display: flex;
    align-items: stretch;
    justify-content: right;
  }

  nav a {
    display: block;
    padding: 10px 15px;
    color: var(--c-pink);
    text-decoration: none;
  }

  nav a:hover {
    background-color: #6F6868;
  }
}
