@media (min-width: 600px) {
  nav {
    display: flex;
    align-items: stretch;
    justify-content: right;
  }

  nav a {
    display: inline-block;
    padding: 10px 5px;
    color: var(--c-pink);
    text-decoration: none;
  }

  nav a:hover {
    background-color: var(--c-lgrey);
  }
}
